:root, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(184, 213, 146);
}

.ticTacToeHead {
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
    background-color: rgb(13, 71, 13);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 1rem;
    color: antiquewhite;
}

.gameBoard {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 500px;
    border: 5px solid black;

}


.gameSquare {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.zero, .two, .four, .six, .eight {
    background-color: rgb(107, 164, 107);
}

.one, .three, .five, .seven {
    background-color: rgb(13, 71, 13);
}

.gameSquare.hover-effect {
    background-color: green !important;
}

.action {
    background-color: rgb(107, 164, 107);
    color: white;
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;

}

.players {
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.player {
    border: 5px solid rgb(13, 71, 13);
    border-radius: 0.75rem;
    padding: 1rem;
    color: white;
    background-color: black;
}

.nameForm {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 0.5rem;
    margin-top: 1rem;

}

.name1 {
    grid-row: 1 / 2;
}

.name2 {
    grid-row: 2 / 3;
}

.label {
    grid-column: 1 / 2;
}

.input {
    grid-column: 2 / 3;
}

.dialogHead {
    font-weight: 700;
}

button:hover {
    box-shadow: 4px 8px 12px 2px rgb(0, 0, 0, 0.2);
    color: rgb(255, 85, 0);
}

.popUp {
    background-color: antiquewhite;
    color: rgb(13, 71, 13);
}

.doneButton {
    background-color: rgb(107, 164, 107);
}

/*.gameSquare:hover {
    background-color: green;
}*/